<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elder.mapper.ServicePersonMapper" >
  <resultMap id="BaseResultMap" type="com.elder.domain.ServicePerson" >
    <id column="Service _Person_Id" property="servicePersonId" jdbcType="INTEGER" />
    <result column="Service_Name" property="serviceName" jdbcType="VARCHAR" />
    <result column="Service_Gender" property="serviceGender" jdbcType="INTEGER" />
    <result column="Service_Phone" property="servicePhone" jdbcType="VARCHAR" />
    <result column="Service_Age" property="serviceAge" jdbcType="INTEGER" />
    <result column="Service_Job_Num" property="serviceJobNum" jdbcType="VARCHAR" />
    <result column="Community_Id" property="communityId" jdbcType="INTEGER" />
    <result column="Service_Work_Time" property="serviceWorkTime" jdbcType="VARCHAR" />
    <result column="Service_Work_Position" property="serviceWorkPosition" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    "Service _Person_Id", Service_Name, Service_Gender, Service_Phone, Service_Age, Service_Job_Num, 
    Community_Id, Service_Work_Time, Service_Work_Position
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_person
    where "Service _Person_Id" = #{servicePersonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_person
    where "Service _Person_Id" = #{servicePersonId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elder.domain.ServicePerson" >
    insert into service_person ("Service _Person_Id", Service_Name, Service_Gender, 
      Service_Phone, Service_Age, Service_Job_Num, 
      Community_Id, Service_Work_Time, Service_Work_Position
      )
    values (#{servicePersonId,jdbcType=INTEGER}, #{serviceName,jdbcType=VARCHAR}, #{serviceGender,jdbcType=INTEGER}, 
      #{servicePhone,jdbcType=VARCHAR}, #{serviceAge,jdbcType=INTEGER}, #{serviceJobNum,jdbcType=VARCHAR}, 
      #{communityId,jdbcType=INTEGER}, #{serviceWorkTime,jdbcType=VARCHAR}, #{serviceWorkPosition,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elder.domain.ServicePerson" >
    insert into service_person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servicePersonId != null" >
        "Service _Person_Id",
      </if>
      <if test="serviceName != null" >
        Service_Name,
      </if>
      <if test="serviceGender != null" >
        Service_Gender,
      </if>
      <if test="servicePhone != null" >
        Service_Phone,
      </if>
      <if test="serviceAge != null" >
        Service_Age,
      </if>
      <if test="serviceJobNum != null" >
        Service_Job_Num,
      </if>
      <if test="communityId != null" >
        Community_Id,
      </if>
      <if test="serviceWorkTime != null" >
        Service_Work_Time,
      </if>
      <if test="serviceWorkPosition != null" >
        Service_Work_Position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servicePersonId != null" >
        #{servicePersonId,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceGender != null" >
        #{serviceGender,jdbcType=INTEGER},
      </if>
      <if test="servicePhone != null" >
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="serviceAge != null" >
        #{serviceAge,jdbcType=INTEGER},
      </if>
      <if test="serviceJobNum != null" >
        #{serviceJobNum,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="serviceWorkTime != null" >
        #{serviceWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="serviceWorkPosition != null" >
        #{serviceWorkPosition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elder.domain.ServicePerson" >
    update service_person
    <set >
      <if test="serviceName != null" >
        Service_Name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceGender != null" >
        Service_Gender = #{serviceGender,jdbcType=INTEGER},
      </if>
      <if test="servicePhone != null" >
        Service_Phone = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="serviceAge != null" >
        Service_Age = #{serviceAge,jdbcType=INTEGER},
      </if>
      <if test="serviceJobNum != null" >
        Service_Job_Num = #{serviceJobNum,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        Community_Id = #{communityId,jdbcType=INTEGER},
      </if>
      <if test="serviceWorkTime != null" >
        Service_Work_Time = #{serviceWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="serviceWorkPosition != null" >
        Service_Work_Position = #{serviceWorkPosition,jdbcType=VARCHAR},
      </if>
    </set>
    where "Service _Person_Id" = #{servicePersonId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elder.domain.ServicePerson" >
    update service_person
    set Service_Name = #{serviceName,jdbcType=VARCHAR},
      Service_Gender = #{serviceGender,jdbcType=INTEGER},
      Service_Phone = #{servicePhone,jdbcType=VARCHAR},
      Service_Age = #{serviceAge,jdbcType=INTEGER},
      Service_Job_Num = #{serviceJobNum,jdbcType=VARCHAR},
      Community_Id = #{communityId,jdbcType=INTEGER},
      Service_Work_Time = #{serviceWorkTime,jdbcType=VARCHAR},
      Service_Work_Position = #{serviceWorkPosition,jdbcType=VARCHAR}
    where "Service _Person_Id" = #{servicePersonId,jdbcType=INTEGER}
  </update>
</mapper>